<h1>投稿ページ</h1>
<div class="container">
  <%= form_with model: @item, local: true do |f| %>

      <%# 入力エラーの表示 %>
    <%= render 'layouts/error_messages', model: @item %>

    <div>写真(必須)</div>
    <div class="click-upload">
    <%= f.file_field :image, id:"item-image" %>
    <div id="image-list"></div>
    </div>
    <div>アイテムの名前(必須)</div>
    <%= f.text_field :name, class:"items-text", placeholder: "Item name" %>
    <div>コメント(必須)</div>
    <%= f.text_area :detail, class:"items-text", placeholder: "comment" %>
    <div>カテゴリー(必須)</div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    <div>こどもの年齢(任意)</div>
    <%= f.collection_select(:age_year_id, AgeYear.all, :id, :name, {}, {class:"select-box"}) %>才
    <%= f.collection_select(:age_month_id, AgeMonth.all, :id, :name, {}, {class:"select-box"}) %>ヶ月
    <div>アイテムのサイズ(任意)</div>
    <%= f.text_field :size, class:"items-text", placeholder: "例)50" %>cm
    <div>アイテムの値段(任意)</div>
    ¥<%= f.text_field :price, class:"items-text", placeholder: "例)1000" %>
    <div>
    <%= f.submit "投稿する" %></div>
  <% end %>
</div>

