<h1>詳細ページ</h1>
<div class="item-show">
  <h2 class="name">
    <%= @item.name %>
  </h2> 
  <%= image_tag @item.image, class:"show-img"%>
  <div>出品者</div>
 
  # ユーザーの名前をリンクにしてマイページに遷移させたい
  <%= link_to user_path(@item.user.id) do %>
  <div class="item-name">
    <%= @item.user.nickname %>
    </div>
  <% end %>

  <div>コメント</div>
    <%= @item.detail %>
  <div>カテゴリー</div>
    <%= @item.category.name %>
  <div>使用するこどもの年齢</div>
    <%= @item.age_year.name %>才<%= @item.age_month.name %>ヶ月
  <div>アイテムのサイズ</div>
    <%= @item.size %>cm
  <div>値段</div>
    ¥<%= @item.price %>
</div>

<% if user_signed_in? && current_user.id == @item.user_id%>
  <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
  <p class='or-text'>or</p>
  <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
<% end %>

<div class="container">
  <% if current_user %>
    <%= form_with(model: [@item, @comment], local: true) do |f| %>
      <%= f.text_area :comment, placeholder: "コメントする", rows: "2" %>
      <%= f.submit "SEND" %>
    <% end %>
  <% else %>
    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.comment %>
          </p>
        <% end %>
      <% end %>
    </div>
</div>