<!DOCTYPE html>
<html>
  <head>
    <title>BabyInforshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%# ↑リセットCSS↑ %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">BabyInforshare</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "MyPage", "/users/#{current_user.id}" %>
                <%= link_to "signed-out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "log-in", new_user_session_path, class: "post" %>
            <%= link_to "signed-up", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
      <div>----------header----------</div>
    </header>
      <%= yield %>
    <footer>
    <div>----------fotter----------</div>
      <p>
        Baby-Inforshare....
      </p>
    </footer>
  </body>
</html>
