<!DOCTYPE html>
<html>
  <head>
    <title>BabyInforshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css"> %>
    <%# ↑リセットCSS↑ %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%# ヘッダー %>
    <header class="header">
      <div class="left-header">
        <h1><a href="/"  class="to-top">BabyInforshare</a></h1>
      </div>
        <% if user_signed_in? %>
          <div class="right-header">
            <div class="user-name">あなたの名前：<%= current_user.nickname %></div>
            <ul class="user_info">
              <li class="user-button"><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
              <li class="user-button"><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <div class="right-header">
            <div class="user-name">ようこそ！ログインしてね</div>
            <ul class="user_info">
              <li class="user-button"><%= link_to "ログイン", new_user_session_path %></li>
              <li class="user-button"><%= link_to "新規登録", new_user_registration_path %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </header>

      <%= yield %>

    <footer>
    <div>----------fotter----------</div>
      <p>
        Baby-Inforshare....
      </p>
    </footer>
  </body>
</html>
