<!DOCTYPE html>
<html>
  <head>
    <title>BabyInforshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">BabyInforshare</a></h1>
              <div>↑header</div>
        <div class="user_nav grid-6">
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Baby-Inforshare....(footer)
      </p>
    </footer>
  </body>
</html>
